{% extends "blog_template.html" %}

{% block content %}
    <div>
        <h1>How (not to) Engineering Physics</h1>
        <p>+ Try out new things, even when you don't feel qualified</p>
        <p>+ Take incremental steps towards your long-term targets</p>
        <p>+ Fulfil your leadership responsibilities, but know when to step down</p>
        <p>+ Approach work with a beginners mindset</p>
        <p>+- Reject nihilism, embrace hope</p>
        <p>- Listen to your seniors about courses</p>
        <p>- Know what depression and burnout looks like</p>
        <p>- Know what insomnia looks like; Have a sane sleep schedule</p>
    </div>
{% endblock %}
