{% extends "blog_template.html" %}

{% block content %}
    <div>
        <h1>How (not to) Engineering Physics</h1>
        <h2>June 2023</h2>
        <h2>Disclaimer</h2>
        
        <h2>+ Try out new things, even when you don't feel qualified</h2>
        
        <h2>+ Take incremental steps towards your long-term targets</h2>
        
        <h2>+ Fulfil your leadership responsibilities, but know when to step down</h2>
        
        <h2>+ Approach work with a beginners mindset</h2>
        
        <h2>+- Reject nihilism, embrace hope</h2>
        
        <h2>- Listen to your seniors about courses</h2>
        
        <h2>- Know what depression and burnout looks like</h2>
        
        <h2>- Know what insomnia looks like; Have a sane sleep schedule</h2>
    </div>
{% endblock %}
