<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8" />
    <meta name="author" content="David Pratama Widjaja" />
    <meta name="description" content="The personal website of David Pratama Widjaja, 
                Engineer-in-Training(EIT) currently
                working in Canada as a Software Developer and a Renewable Energy 
                Analyst. Graduated from UBC in 2022 with a BASc in Engineering Physics.
                Enjoys music and the great outdoors." />
    <meta name="viewport" content="width=device-width" />

    <meta property="og:title" content="David Pratama Widjaja's personal website" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="todo.png" />
    <meta property="og:url" content="todo.url" />

    <title>David Widjaja</title>
    <!--
    <link rel="icon" href="../static/favicon/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../static/style/index.css" />
    <script src="../static/scripts/main.js"></script>
    -->

    <link rel="stylesheet" href="{{ url_for('static', filename='img/favicon.ico')}}" type="image/x-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css')}}">

</head>

<body>
    <header>
        <div class="namecard">
            <p>David Pratama Widjaja</p>
            <p>widjaja (dot) david (at) ymail (dot) com</p>
            <div class="namecard-iconbar">
                <a href="https://www.instagram.com/dafid.pw/">
                    <img class="iconbar-img", src="{{ url_for('static', filename='img/insta.png')}}">
                </a>
                <a href="https://www.linkedin.com/in/david-pw">
                    <img class="iconbar-img", src="{{ url_for('static', filename='img/linkedin.png')}}">
                </a>
                <a href="{{ url_for('static', filename='cv/cv.pdf')}}">
                    <img class="iconbar-img", src="{{ url_for('static', filename='img/pdf.png')}}">
                </a>
            </div>
        </div>
    </header>
    <main>
        <div class="description">
            <p>
                Test Paragraph
            </p>
            <p>
                Test Paragraph
            </p>
            <p>
                Test Paragraph
            </p>
            <p>
                Test Paragraph
            </p>
            <p>
                Test Paragraph
            </p>
            <p>
                Test Paragraph
            </p>
            <img class="block-image" src="assets/img/kodim03.png" alt="test image">
        </div>
        <div class="blogs">
            <div class="tech-blogs">
                <h3>Tech Blogs</h3>
                <ul>
                    <li><a href="blogs/template_blog.html">tech blog 1</a></li>
                    <li>tech blog 2</li>
                    <li>tech blog 3</li>
                    <li>tech blog 4</li>
                    <li>tech blog 5</li>
                    <li>tech blog 6</li>
                    <li>tech blog 7</li>
                    <li>tech blog 8</li>
                    <li>tech blog 9</li>
                    <li>tech blog 10</li>
                </ul>
            </div>
            <div class="personal-blogs">
                <h3>Personal Blogs</h3>
                <ul>
                    <li>personal blog 1</li>
                    <li>personal blog 2</li>
                    <li>personal blog 3</li>
                    <li>personal blog 4</li>
                    <li>personal blog 5</li>
                    <li>personal blog 6</li>
                    <li>personal blog 7</li>
                    <li>personal blog 8</li>
                    <li>personal blog 9</li>
                    <li>personal blog 10</li>
                </ul>
            </div>
            <div class="study-notes">
                <h3>Study Blogs</h3>
                <ul>
                    <li>study blog 1</li>
                    <li>study blog 2</li>
                    <li>study blog 3</li>
                    <li>study blog 4</li>
                    <li>study blog 5</li>
                    <li>study blog 6</li>
                    <li>study blog 7</li>
                    <li>study blog 8</li>
                    <li>study blog 9</li>
                    <li>study blog 10</li>
                </ul>
            </div>
        </div>
    </main>
    <footer>
        <div class="copyright-notice">
            <p>David Pratama Widjaja, 2023</p>
        </div>
    </footer>
</body>

</html>