body {
    background-color: aquamarine;
}

h1 {
    text-align: center;
    font-size: xx-large;
    font-weight: lighter;
}

h2 {
    text-align: center;
    font-size: x-large;
    font-weight: lighter;
}

h3 {
    text-align: center;
    font-size: large;
    font-weight: lighter;
}

.logo-wrapper {
    display: flex;
    width: 5vw;
    margin-left: auto;
    margin-right: auto;
}

.logo-wrapper > div {
    flex: 1;
    align-content: center;
    padding: 10%;
}

.logo-img {
    width: 100%;
}